# Project exclude paths
/.gradle/
/Coffee Machine/task/build/
/Coffee Machine/task/out/
/Coffee Machine/task/out/production/classes/
/Problems/Days of week/out/
/Problems/Days of week/out/production/classes/
/Problems/The secret enumeration/out/
/Problems/The secret enumeration/out/production/classes/